__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
venv/
.venv/
ENV/
env/
*.log
local_settings.py
db.sqlite3
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.env
*.pyc
*.coverage
htmlcov/
.coverage.*
.cache